*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{ 
    color:rgb(255,203,8);
    text-align:center;
    font: normal normal bold 50px/60px Helvetica Neue;
}
header{
    background:rgb(45,97,181);
    height: 90px; }